<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XTFPOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>24A16000216FFC6477C2F079838E2EA35631109D</string>
				<key>dateExpires</key>
				<string>2022/3/13</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NNYSZTA66P.com.chinaxzr.xtfmops</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NNYSZTA66P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>XTFPOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ba6677c4-d467-4b0d-aa92-a9b401a37523</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.chinaxzr.xtfmops</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NNYSZTA66P</string>
				<key>name</key>
				<string>Xintuofu Internet Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
